<!DOCTYPE module PUBLIC "-//Google Inc.//DTD Google Web Toolkit 2.8.0//EN"
        "http://gwtproject.org/doctype/2.8.0/gwt-module.dtd">
<module rename-to='dist'>

    <inherits name='com.google.gwt.user.User'/>

    <entry-point class='site.parkhomenko.springbootgwt.client.SpringBootGwtEntryPoint'/>

    <add-linker name="xsiframe"/>

    <source path="client"/>
</module>